:root {
  --dark-bg-color:                                   #1F2937;
  --hero-main-text-color:                            #F9FAF8;
  --hero-subtext-color:                              #E5E7EB;
  --call-to-action-bg-color:                         #3882F6;
  --header-logo-text-color:        var(--hero-main-text-color);
  --information-header-text-color:        var(--dark-bg-color);
  --quote-bg-color:                  var(--hero-subtext-color);
  --quote-text-color:                     var(--dark-bg-color);
}

html {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
  }
  *, *:before, *:after {
    font-family: 'Roboto', 'Arial', 'Helvetica', 'Calibri', 'Droid Sans', 'Liberation Sans', sans-serif;
    box-sizing: inherit;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  header {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-bg-color);
    align-items: center;
    flex: 1;
    border: 0px;
    margin: 0px;
  }
  .header-logo {
    color: var(--header-logo-text-color);
    font-size: 1.5rem;
    font-weight: 900;
  }
  
  .header-links-list {
    color: var(--hero-subtext-color);
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin: 0 16px;
  }